@font-face {
	font-family: 'Triforce';
	src: url('../fonts/Triforce.eot');
	src: url('../fonts/Triforce.woff2') format('woff2'),
		url('../fonts/Triforce.woff') format('woff'),
		url('../fonts/Triforce.ttf') format('truetype'),
		url('../fonts/Triforce.svg#Triforce') format('svg'),
		url('../fonts/Triforce.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: Triforce;
}


a {
	color: #337287;
}

.imprint {
	font-family: Arial, Helvetica, sans-serif;
}